<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Formulario Login</title>
  </head>
  <body>

    <section class="form-login">
    <div class="flex">
      <h1 class="textoLoginInicio">Inicio de sesión</h1>
      <h5 class="textoLogin">Sistema de Gestión de Mantenimiento FRVT</h5>

      <input class="controls" type="text" name="usuario" value="" placeholder="Usuario">

      <input class="controls" type="password" name="contrasena" value="" placeholder="Contraseña">
    
      <div class="BotonDireccion">
      <button class="buttons" type="submit" >Login</button>
        </div>
    <p>
        <a class="enlaceStyle" href="#">¿Olvidaste tu Contraseña?</a>
    </p>

    </div>
    </section>

  </body>
</html>