* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  .container {
    display: grid;
    grid-template-columns: 350px 1fr; 
    height: 100vh; 
    background-color: #d1e1f3;
  }
  .imgIcono{
    height: 60px;
    width: 260px;
    padding-left: 25px;
    padding-bottom: 10px;
  }
  
  .sidebar {
    background-color: #afc0d3;
    padding-top: 15px;
    box-shadow: 2px 2px 20px 12px rgba(0, 0, 0, 0.2);
  }
  
  .FlexLista{
    display: flex;
    flex-direction: row;
    padding-bottom: 10px;
    padding-top: 5px;
  }
  .txtNav {
    margin: 5px;
    margin-left: 20px;
    display: flex;
    justify-content: center;
    width: 300px;
    background-color: #156b8d;
    color: rgb(255, 255, 255);
    padding: 12px 20px;
    text-decoration: none;
    font-size: 18px;
    text-align: left;
    font-size: 25px;
    border-radius: 8px;
    font-family: Arial, Helvetica, sans-serif;
  }
  .txtNav:hover{
    background-color: #3ba3cc;
    width: 300px;
  }
  .txtNavOT{
    margin-bottom: 10px;
    margin-right: 2px;
  }

#tabla-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px; 
}
.tabla-ot {
  width: 80%;
  border-collapse: collapse;
  margin-bottom: 15px;
  border-radius: 2px;
  box-shadow: 0px 0px 5px 6px rgba(0, 0, 0, 0.2);
}
.tabla-encabezado {
  background-color: #a1c4df;
  text-align: center;
  padding: 10px;
  font-weight: bold;
}

.tabla-edificio, .tabla-piso, .tabla-ubicacion, .tabla-sector, .tabla-activo, .tabla-operario {
  text-align: center;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 2px;
}
.tabla-ot tbody tr {
  background-color: #e4f3f8;
}
.tabla-encabezado{
  font-family: 'Arial';
}
.tablaTXT{
  font-family: 'Arial';
}
.delete-btn{
  height: 30px;
  width: 30px;
  background: #ee8888;
}
.botonTilde{
  height: 30px;
  width: 30px;
  background: #8aeb9a;
}
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-message {
  margin-bottom: 20px;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  color: #333;
}
.modal-confirm-button {
  background-color: #4CAF50;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  margin-right: 10px;
}
.modal-confirm-button:hover {
  background-color: #45a049;
}
.modal-cancel-button {
  background-color: #f44336;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
}
.modal-cancel-button:hover {
  background-color: #d32f2f;
}
.divFilter{
  display: flex;
  flex-direction: column;
  margin-left: 25%;
  width: 50%;
}
.selectFilter{
  height: 30px;
  border-radius: 7px;
  background: #156b8d;
  color: white;
}
.selectFilter:hover{
  height: 30px;
  border-radius: 7px;
  background: #3ba3cc;
  color: white;
}
.LabelFilter{
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 15px;
}
.tablaButon{
  width: 100px;
}
.btnReinicio{
  margin-top: 15px;
  height: 30px;
  width: 80px;
  margin-left: 45px;
  background: #6497ac;
  border-radius: 5px;
}
.TXTReinicio{
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
}
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}
.modal-content {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  text-align: center;
  max-width: 300px;
  width: 100%;
}
.modal-close-button {
  margin-top: 15px;
}