* { /*ACA ESTABA EL PROBLEMA*/   
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  .container {
    display: grid;
    grid-template-columns: 350px 1fr; /* Menú de 250px y contenido restante */
    height: 100vh; /* Altura completa de la ventana */
    background-color: #d1d1d1;
  }
  .imgIcono{
    height: 60px;
    width: 260px;
    padding-left: 25px;
    padding-bottom: 10px;
  }
  /* Barra lateral (Sidebar) */
  .sidebar {
    background-color: #afc0d3;
    padding-top: 15px;
    box-shadow: 2px 2px 15px 5px rgba(0, 0, 0, 0.2);
    /*box-shadow: 8px 4px #d8d7d8;*/
  }
  
  .FlexLista{
    display: flex;
    flex-direction: row;
    padding-bottom: 10px;
    padding-top: 5px;
  }
  .ULestilo{
    padding-left: 0px !important; 
  }

  .letrasMenu{
    display: flex;
    flex-direction: row;
  }
  .txtNav {
    margin: 5px;
    margin-left: 20px;
    display: flex;
    justify-content: center;
    width: 300px;
    background-color: #156b8d;
    color: rgb(255, 255, 255);
    padding: 12px 20px;
    text-decoration: none;
    font-size: 18px;
    text-align: left;
    font-size: 25px;
    border-radius: 8px;
    font-family: Arial, Helvetica, sans-serif;
  }
  .txtNav:hover{
    background-color: #3ba3cc;
    width: 300px;
  }
  .spanNav{
  margin-top: 2px;
  margin-right: 3px;
  }
  .spanNavOT{
    margin-top: 4px;
  }
  .txtNavOT{
    margin-bottom: 10px;
    margin-right: 2px;
  }
  .spanNavH{
    padding: 0 !important; 
  }

  .dropdown-content {
    display: none;
    position: relative;
    background-color: #e8dff7;
    min-width: 250px;
    z-index: 1;
    
  }
  
  .dropdown-content a {
    color: white;
    padding: 12px 20px;
    text-decoration: none;
    display: block;
    
  }
  
  .dropdown-content a:hover {
    background-color: #666;
  }
  
  /* Mostrar el dropdown al hacer hover */
  .dropdown:hover .dropdown-content {
    display: block;
  }

/*FIN DEL NAV*/

#tabla-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
  
}

.tabla-ot {
  width: 80%;
  border-collapse: collapse;
  margin-bottom: 15px;
  border-radius: 2px;
}

.tabla-encabezado {
  background-color: #b0c0d4;
  text-align: center;
  padding: 10px;
  font-weight: bold;
 
}

.tabla-edificio, .tabla-piso, .tabla-ubicacion, .tabla-sector, .tabla-activo, .tabla-operario {
  text-align: center;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 2px;
}

.tabla-ot tbody tr {
  background-color: #e7f0f3;
}
.tabla-encabezado{
  font-family: 'Arial';
}

.tablaTXT{
  font-family: 'Arial';
}
.delete-btn{
  height: 30px;
  width: 30px;
  background: #ee8888;
}
.btnCambio{
  height: 30px;
  width: 30px;
  background: #aff390;
}
/*popup*/

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5);
}

/* Contenido del modal */
.modal-content {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  text-align: center;
  max-width: 300px;
  width: 100%;
}

/* Mensaje dentro del modal */
.modal-message {
  margin-bottom: 20px;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  color: #333;
}

/* Botón de confirmación */
.modal-confirm-button {
  background-color: #4CAF50;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  margin-right: 10px;
}

.modal-confirm-button:hover {
  background-color: #45a049;
}

/* Botón de cancelación */
.modal-cancel-button {
  background-color: #f44336;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
}

.modal-cancel-button:hover {
  background-color: #d32f2f;
}

.divFilter{
  display: flex;
  flex-direction: column;
  margin-left: 25%;
  width: 50%;
}
.selectFilter{
  height: 30px;
  border-radius: 7px;
  background: #156b8d;
  color: white;
}
.selectFilter:hover{
  height: 30px;
  border-radius: 7px;
  background: #3ba3cc;
  color: white;
}
.LabelFilter{
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 15px;
}
.tablaButon{
  width: 100px;
}

.botonTilde{
  height: 30px;
  width: 30px;
  background: #8aeb9a;
}
.btnReinicio{
  margin-top: 15px;
  height: 30px;
  width: 80px;
  margin-left: 45px;
  background: #6497ac;
  border-radius: 5px;
}
.TXTReinicio{
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-content {
  background: white;
  padding: 20px;
  border-radius: 8px;
  width: 300px;
}

.modal-close-button {
  margin-top: 15px;
}