<body>
<div class="container">
    <nav class="sidebar">
        <ul class="ULestilo">
          <li class="FlexLista" ><a href="/ot"><img class="imgIcono" src="https://frsc.cvg.utn.edu.ar/theme/image.php/snap/theme/1741635814/img/logo" alt=""></a></li>
          <li class="FlexLista dropdown">
            <a href="/ot" class="txtNav txtNavOt dropbtn *ngIf="isAdmin>Orden de Trabajo</a>
          </li>
          
          <li class="FlexLista">
            <a  class="txtNav " href="/historial">
              Historial
            </a>
          </li>
        </ul>
        <div class="divFilter">
            <label class="LabelFilter" for="">Edificio</label>
            <select class="selectFilter" [(ngModel)]="selectedEdificio" (change)="filtrarOTs()">
              <option value="" selected disabled>EDIFICIO</option>
              <option value="" >Todos</option>
              <option *ngFor="let edificio of edificios" [value]="edificio">{{ edificio }}</option>
            </select>
          
            
            <label class="LabelFilter" for="">Piso</label>
            <select class="selectFilter" [(ngModel)]="selectedPiso" (change)="filtrarOTs()">
              <option value="" selected disabled>PISO</option>
              <option value="">Todos</option>
              <option *ngFor="let piso of pisos" [value]="piso">{{ piso }}</option>
            </select>

            <label class="LabelFilter" for="">Ubicación</label>
            <select class="selectFilter" [(ngModel)]="selectedUbicacion" (change)="filtrarOTs()">
              <option value="" selected disabled>UBICACIÓN</option>
              <option value="">Todos</option>
              <option *ngFor="let ubicacion of ubicaciones" [value]="ubicacion">{{ ubicacion }}</option>
            </select>

            <label class="LabelFilter" for="">Sector</label>
            <select class="selectFilter" [(ngModel)]="selectedSector" (change)="filtrarOTs()">
              <option value="" selected disabled>SECTOR</option>
              <option value="">Todos</option>
              <option *ngFor="let sector of sectores" [value]="sector">{{ sector }}</option>
            </select>

            <label class="LabelFilter" for="">Activo</label>
            <select class="selectFilter" [(ngModel)]="selectedActivo" (change)="filtrarOTs()">
              <option value="" selected disabled>ACTIVO</option>
              <option value="">Todos</option>
              <option *ngFor="let activo of activos" [value]="activo">{{ activo }}</option>
            </select>
            
            <label class="LabelFilter" for="">Operario</label>
            <select class="selectFilter" [(ngModel)]="selectedOperario" (change)="filtrarOTs()">
              <option value="" selected disabled>OPERARIO</option>
              <option value="">Todos</option>
              <option *ngFor="let operario of operarios" [value]="operario">{{ operario }}</option>
            </select>
            <button class="btnReinicio" (click)="reiniciar()">REINICIAR</button>
        </div>
    </nav>

      <div id="tabla-container">



      </div>
   
   