* {    
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
    margin: 0;
    padding: 0;
    background-color: #d1e1f3;
  }
  a{
    font-family:Arial;
  }
  
  .container {
    display: grid;
    grid-template-columns: 350px 1fr; 
    height: 100vh; 
    background-color: #d1e1f3;
  }
  .imgIcono{
    height: 60px;
    width: 260px;
    padding-left: 25px;
    padding-bottom: 10px;
  }

  .sidebar {
    background-color: #afc0d3;
    padding-top: 15px;
    box-shadow: 2px 2px 20px 12px rgba(0, 0, 0, 0.2);
   
  }
  
  .FlexLista{
    display: flex;
    flex-direction: row;
    padding-bottom: 10px;
    padding-top: 5px;
  }
  .ULestilo{
    padding-left: 0px !important; 
  }
  .txtNav {
    margin: 5px;
    margin-left: 20px;
    display: flex;
    justify-content: center;
    width: 300px;
    background-color: #156b8d;
    color: rgb(255, 255, 255);
    padding: 12px 20px;
    text-decoration: none;
    font-size: 18px;
    text-align: left;
    font-size: 25px;
    border-radius: 8px;
  }
  .txtNav:hover{
    background-color: #3ba3cc;
    width: 300px;
  }
 
  .spanNav{
  margin-top: 2px;
  margin-right: 3px;
  }

  .txtNavOT{
    margin-bottom: 10px;
    margin-right: 2px;
  }

  .contentGeneral{
    margin: 5px;
    
  }
  
  .content h1 {
    color: #333;
  }
  
  .content p {
    color: #666;
    font-size: 16px;
  }

  .barraGeneral{
    margin: 0;
    background-color: #d1e1f3;
    padding: 30px;
    display: flex;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  }

  @keyframes anim {
    0%,
    100% {
      transform: translateY(calc(-50% - 5px)) scale(1);
    }
  
    50% {
      transform: translateY(calc(-50% - 5px)) scale(1.1);
    }
  }

.content {
  height: 100%;
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  padding: 20px;
  
  background-color: #a1c4df;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
  width: 100%;
}

.selectOptions {
  padding: 5px;
  border: 1px solid #828385;
  border-radius: 5px;
  font-size: 13px;
  width: 100%;
  margin-bottom: 10px;
  background-color: #e6e6e6;
  height: 40px;
}

.selectInput{
  height: 100px;
}

.inputFormOT{
  border: 1px solid #969292;
  background-color: #f2f5f7;
  
}
.form-group:last-child {
  margin-bottom: 0;
}

.form-buttons {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 5px;
}

button {
  padding: 10px ;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

.btn-submit {
  width: 100%;
  background-color: #4CAF50;
  color: white;
}

button:hover {
  opacity: 0.9;
}

.formBottom{
  margin-bottom: 5px !important;
  margin-top: 2px !important;
}
.inputDate{
  padding: 12px;
}
.vistaPreviaLi{
  margin: 12px;
  width: 400px;
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
strong {
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.tareasStrong{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.liSubrayado{
  text-decoration: underline wavy;
 
}
.opcionMultiple{
  height: 200px;
}

iframe {
  border: 2px solid #ccc;
  border-radius: 8px;
  margin-top: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.notification {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #333;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  opacity: 0.9;
  z-index: 1000;
}

.notification.show {
  opacity: 0.9;
  visibility: visible;
}

.notification.success {
  background-color: #28a745;  
  color: #fff;
}

.notification.error {
  background-color: #dc3545;  
  color: #fff;
}

.notification.info {
  background-color: #17a2b8;  
  color: #fff;
}

.modal-overlay {
  position: fixed !important;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.modal-content {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  width: 80%;
  max-width: 400px;
  text-align: center;
  z-index: 10000;
}

.modal-message {
  font-size: 16px;
  margin-bottom: 20px;
}

.modal-close-button {
  background-color: #007BFF;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 4px;
}

.modal-close-button:hover {
  background-color: #0056b3;
}

.txtSalir{
    margin: 5px;
    margin-left: 20px;
    display: flex;
    justify-content: center;
    width: 300px;
    background-color: #d14c4c;
    color: rgb(255, 255, 255);
    padding: 12px 20px;
    text-decoration: none;
    font-size: 18px;
    text-align: left;
    font-size: 25px;
    border-radius: 8px;
}
.txtSalir:hover{
  background: #f65959;

}
