<body>
    <div class="container">
        <div class="header">
            <div class="title">Orden de Trabajo de Mantenimiento Planificado</div>
            <div class="logo">UTN <br> FRVT</div>
        </div>

        <div class="info">
            <div><strong>OT Nº:</strong> 20241031_20_ILUM-001002081001001-566</div>
            <div><strong>Código Único de Identificación de Activo:</strong> ILUM-001002081001001-566</div>
            <div><strong>Tipo de Activo:</strong> Iluminación</div>
            <div><strong>Edificio:</strong> Laprida 651 - UTN FRVT</div>
            <div><strong>Piso / Nivel:</strong> Ter Piso</div>
            <div><strong>Sector:</strong> Aula 17</div>
            <div><strong>Inspección = 10 / Mant. Prev. Planif. = 20 / Planif. NO Period. = 30 / NO Planificado = 40</strong></div>
            <div class="code">20</div>
        </div>

        <div class="task-instructions">
            <div class="task-header">Instrucciones de la tarea</div>
            <div class="task-list">
                <ol>
                    <li>Señalice el área de Trabajo. Desconecte la energía eléctrica - Verificar NO existencia de tensión eléctrica.</li>
                    <li>Control de louver.</li>
                    <li>Verificación de funcionamiento de la totalidad de las lámparas.</li>
                    <li>Verificación de estados de zócalos y/o portalámparas.</li>
                    <li>Limpieza de luminaria y lámpara.</li>
                    <li>Verificar correcto montaje y sujeción.</li>
                    <li>Verifique correcto funcionamiento del equipo luego de finalizada la actividad.</li>
                    <li></li>
                    <li>Complete la documentación de mantenimiento.</li>
                    <li>Al finalizar la actividad deje el área y equipo limpios, ordenados y seguros.</li>
                </ol>
            </div>
        </div>

        <div class="footer">
            <div><strong>Fecha Impresión:</strong> 2024-10-31</div>
            <div><strong>Fecha de realización:</strong></div>
            <div class="time-used">
                <div><strong>Tiempo total utilizado:</strong></div>
                <div>Tarea Realizada por : 20</div>
                <div>Pablo</div>
            </div>
            <div class="observations">
                <strong>Observaciones, comentarios y repuestos utilizados:</strong>
            </div>
            <div class="qr-zone">QR ZONE</div>
        </div>
    </div>
</body>